@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BLOG</h1>
    <hr />
    <div class="row align-items-center">
        <div class="col">
            <a href="~/Get/Index" class="btn btn-info btn-block">Ver posts</a>
        </div>
        <div class="col">
            <a href="~/Get/Agregar" class="btn btn-success btn-block">Agregar post</a>
        </div>
    </div>
</div>
